// variables de color

    $blanco: #ffffff;
    $oscuro: #492F10;
    $primario: #DF5E5E;
    $secundario: #E98580;
    $claro: #FDD2BF;

//Variables tipografria
$font-fredoka: 'Fredoka', sans-serif;

// Breackpoints

$mediaTablet-481: 481px;
$mediaTablet-1023:1023px;
$mediaDesktop-1024:1024px;