/*img intermedia*/

.imgIntermedia {
    margin: 0;
    padding: 0;
}

.divimgIntermedia {
    background-image: url(resources/img/imgintermediadesktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*Seccion 2*/
.sec2 {
    background-color: white;
    h2 {
        margin-bottom: 1em;
        color: $oscuro;
        padding-right: 10px;
    }
    p {
        margin: 0 1em;
        padding-right: 10px;
    }
}

